{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
         <h1>{{ .Title }}</h1>
         {{ .Content }}
		 <br />
		 {{ if isset .Params "techs"}}
		 <p>
		 Built with: {{ delimit .Params.techs ", " }}
		 </p>
		 {{end}}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="row">
		{{ if isset .Params "images"}}
			{{$cl:= div 12 (len .Params.images)}}
			{{ range .Params.images }}
			<a href="{{. | absURL}}" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-{{$cl}}">
					<img src="{{. | absURL}}" class="img-fluid">
			</a>
			{{ end }}
		{{ else }}
			<a href="{{.Params.image | absURL}}" data-toggle="lightbox" class="col-sm-6">
					<img src="{{.Params.image | absURL}}" class="img-fluid">
			</a>
		{{end}}
        </div>
    </div>
</div>
<br/>
		 {{ if isset .Params "github"}}
		 <!-- Place this tag where you want the button to render. -->
		<a class="github-button" href="https://github.com/{{.Params.github}}" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star {{.Params.github}} on GitHub">Star on GitHub</a>
		 <!-- Place this tag in your head or just before your close body tag. -->
		 <script async defer src="https://buttons.github.io/buttons.js"></script>
		 {{end}}
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
